@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Julius+Sans+One&family=Poiret+One&family=Raleway:wght@200;300&family=Roboto:wght@300&display=swap');

.jul72 {
    font-family: 'Julius Sans One', 'Arial', "Times New Roman", sans-serif;
    color: #e3cd93;
    font-size: 80px;
}

.jul30 {
    color: #e3cd93;
    font-size: 45px;
    font-family: 'Raleway', sans-serif;
}

.info {
    line-height: 1.2;

}

.nightSmall {
    font-size: 22px;
    color: white;
}


.day {
    color: black;
}


.nightZayvka {
    cursor: pointer;
    margin-top: 20px;
    border: solid 7px #e3cd93;
    color: #e3cd93;
    font-size: 50px;
    vertical-align: middle;
    border-radius: 100px;
    width: 500px;
    height: 90px;
    background-color: #1D1D1D;
}

.dayZayvka {
    background-color: white;
}

.nightZayvka:hover {
    box-shadow: 5px 5px 5px #c7b68b;
}

.invite{
    font-family: 'Roboto', sans-serif;
    color: #e3cd93;
    margin-top: 5px;
}


.all {
    display: grid;
    width: 100%;
    grid-template-areas:
  'c p';
    grid-template-columns: 3fr 1fr;

}
.pivo{
    grid-area: p;
}
.pivoPng{}
.content{
    margin-top: 5%;
    margin-left: 3%;
    grid-area: c;
}

.inviteBlank {
    margin-top: 4%;
    left: 35%;
    position: absolute;
    text-align:  center;
    border-radius: 15px;
    z-index: 1;
    overflow: hidden;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    background: transparent;
}



/*.inviteBlank {*/
/*    top: 150px;*/
/*       left: 35%;*/
/*    width: 28rem;*/
/*    height: 17rem;*/
/*    box-shadow: 0 0 1rem 0 rgba(41, 39, 39, 0.2);*/
/*    border-radius: 3px;*/
/*    position: absolute;*/
/*    z-index: 1;*/
/*    background: inherit;*/
/*    overflow: hidden;*/
/*}*/

/*.inviteBlank:before {*/
/*    content: "";*/
/*    position: absolute;*/
/*    background: inherit;*/
/*    z-index: -1;*/
/*    top: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    bottom: 0;*/
/*    box-shadow: inset 0 0 2000px rgba(241, 241, 241, 0.5);*/
/*    filter: blur(10px);*/
/*    margin: -20px;*/
/*}*/
