@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Raleway:wght@200;300&display=swap');


.allDay {
    color: white;
}

.all {
    margin-top: 20px;
    display: grid;
    width: 100%;
    min-height: 1000px;
    grid-template-areas:
     'l l'
    'c m'
    'c p';
    grid-template-columns: 50% 50%;
    grid-template-rows: 150px 500px 1fr;
    animation-name: animereveal;
    animation-duration: 1s;
}

@keyframes animereveal {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.logoNight {

    text-align: center;
    font-family: 'Cherish', cursive;
    color: #1d1d1d;
    font-size: 100px;
    grid-area: l;
    width: 100%;
    background-image: linear-gradient(to right, transparent, #e3cd93, transparent);
}

.logoDay {
    color: white;
}

.commentator {
    grid-area: m;
    font-size: 40px;
    color: #e3cd93;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    margin-top: 35px;
}

.com {
    margin-left: 20%;
}

.previos {
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    grid-area: p;
    text-align: center;
    font-size: 40px;
    color: #e3cd93;
}

.content {
    grid-template-areas:
     'n'
    's';
    grid-template-rows: 160px 1fr;
    grid-area: c;
    margin-top: 35px;
}

.spisok {
    margin-left: 20%;
    font-size: 40px;
    color: #e3cd93;

}

.nightUsers {
    color: white;
    margin-left: 14%;
}

.dayUsers {
    color: #1d1d1d;
    margin-left: 14%;
}

.others {
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
    font-size: 25px;
    line-height: 48px;
}

.beerint {
    line-height: 51px;
    font-size: 50px;
}

.timur {
    line-height: 48px;
    font-size: 40px;
}

.block {
    margin-top: 100px;
   width: 60%;
    margin-left: 7%;
    font-size: 35px;
    text-align: center;
    color: #e3cd93;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}
