input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
::-webkit-input-placeholder {
    text-align:center;
}

.close{
    position: absolute;
}
.field{
    font-size: 30px;
    width: 200px;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 100px;
    text-align:center;
    background-color: #e6e6e6;
}

.response{
    font-size: 30px;
    color: green;
}

.nightZayvka {
    cursor: pointer;
    margin-top: 20px;
    border: solid 7px #e3cd93;
    color: #e3cd93;
    font-size: 50px;
    vertical-align: middle;
    border-radius: 100px;
    width: 200px;
    height: 90px;
    background-color: #1D1D1D;
}

.dayZayvka {
    background-color: white;
}

.nightZayvka:hover {
    box-shadow: 5px 5px 5px #c7b68b;
}
.invite{
    color: #e3cd93;
}

.all {
    display: grid;
    width: 750px;
    height: 500px;
    grid-template-areas:
  'p c';
    grid-template-columns: 250px 500px;

}
.pivo{
    grid-area: p;
    background-color: #e3cd93;

}
.PivoPng   {
    width: 200px;
    height: 200px;
}
.content{
    margin-top: 50px ;
    grid-area: c;
    text-align: center;
}


.photo{
    width: 200px;
    height: 200px;
    border: solid 2px #e3cd93;
    border-radius: 100px;
    margin-bottom: 20px;

}







.chooseFile{
    margin-bottom: 10px ;
}
.customfileinput {
    margin-left: 130px;
    color: transparent;
    margin-bottom: 10px ;
}
.customfileinput::-webkit-file-upload-button {
    visibility: hidden;
}
.customfileinput::before {
    content: 'Выберите фото';
    color: black;
    display: inline-block;
    background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
    border: 1px solid #999;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
}
.customfileinput:hover::before {
    border-color: black;
}

.customfileinput:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}