@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Julius+Sans+One&family=Poiret+One&family=Raleway:wght@300&display=swap');


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

::-webkit-input-placeholder {
    text-align: center;
}

.error {
    position: absolute;
    color: red;
    width: 30px;
    margin-top: 4px;
    margin-left: 2px;
}

.close {
    position: absolute;
    background-color: transparent;
    border: none;
    top: 0;
    right: 0;
    border-radius: 100px;
}

.closeButton {
    width: 40px;
}

.closeButton:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.field {
    font-size: 30px;
    height: 40px;
    width: 400px;
    margin-bottom: 60px;
    outline: none;
    border: none;
    border-radius: 100px;
    text-align: center;
    background-color: #e6e6e6;
}

.responseNight {
    font-size: 30px;
    color: #ffffff;
    position: absolute;
    text-align: center;
}

.responseDay {
    font-size: 30px;
    color: #2c2c2c;
    position: absolute;
    text-align: center;
}

.response {
    margin-left: 30px;
}

.nightZayvka {
    cursor: pointer;
    margin-top: 20px;
    border: solid 7px #e3cd93;
    color: #e3cd93;
    font-size: 50px;
    vertical-align: middle;
    border-radius: 100px;
    width: 200px;
    height: 90px;
    background-color: #1D1D1D;
}

.dayZayvka {
    background-color: white;
}

.nightZayvka:hover {
    box-shadow: 5px 5px 5px #c7b68b;
}

.invite {
    margin-top: 50px;
    color: #e3cd93;
    background-color: transparent;
    border-radius: 100px;
    border: none;
    cursor: pointer;
    width: 67px;
    height: 67px;
    text-align: center;
}

.inviteButton:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


.all {
    display: grid;
    width: 750px;
    height: 500px;
    backdrop-filter: blur(8px);

    grid-template-areas:
  'p c';
    grid-template-columns: 250px 500px;

}

.pivoNight {
    grid-area: p;
    background-color: #AFA17A;
}

.pivoDay {
    background-color: #EDDEB7;
}

.PivoPng {
    width: 200px;
    height: 200px;

}

.content {
    margin-top: auto;
    margin-bottom: auto;
    grid-area: c;
    text-align: center;
}


.photo {
    margin-top: 40px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 3px solid white;
    margin-bottom: 20px;
}


.labelInput {
    border-radius: 100px;
    margin-left: 87px;
    cursor: pointer;

}


.inputPng:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}

.inviteButton {
    position: absolute;
    top: 343px;
    left: 65px;
}

.inviteButton2 {
    position: absolute;
    top: 343px;
    left: 65px;
}

.chooseFile {
    margin-bottom: 10px;

    width: 80px;
    height: 30px;

}

.customfileinput {
    margin-left: 25px;
    color: transparent;
    margin-bottom: 10px;
    width: 10px;
    display: none;
}

.customfileinput::-webkit-file-upload-button {
    visibility: hidden;
}

.customfileinput::before {
    color: black;
    -webkit-user-select: none;
    cursor: pointer;
}

.customfileinput:hover {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
