@import url('https://fonts.googleapis.com/css2?family=Cherish&family=Raleway:wght@200;300&display=swap');

.All {
    display: grid;
    width: 100%;
    height: 200px;
    text-align: left;
    grid-template-areas:
    'a i';
    grid-template-columns: 300px 1fr;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.info{
    font-size: 21px;
    Line-height: 30px;
    margin-top: 40px;
    grid-area: i;
}
.ava{
    border-radius: 100px;
    border: solid 2px #e3cd93;
    grid-area: a;
    height: 150px;
    width: 150px;
    margin-left: 50px;
    margin-top: 20px;
}
.name{

}
.age{

}
.social{
  color: inherit;
}
.social:hover{
    color: inherit;
}
.deleteUser{
    color: red;
    font-size: 20px;
}
