@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Raleway:wght@200;300&display=swap');

.night {

    height: 100%;
    width: 100%;
    min-width: 1500px;
    min-height: 1100px;
    background-color: #1D1D1D;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}

.day {
    background-color: white;
}

.menu {
    width: 100%;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    display: flex;
}

.nightMain {

    color: white;
    padding: 10px;

}

.dayMain {
    color: black;
}

.nightMain:hover {
    color: #e3cd93;
}

.nightMembers {
    color: white;
    padding: 10px;
    margin-left: auto;
}

.dayMembers {
    color: black;
}

.nightMembers:hover {
    color: #e3cd93;
}

.nightOurHistory {

    color: white;
    padding: 10px;
    margin-left: 30px;
}

.dayOurHistory {
    color: black;
}

.nightOurHistory:hover {
    color: #e3cd93;
}

.nightRegulations {
    color: white;
    padding: 10px;
    margin-left: 30px;
}

.dayRegulations {
    color: black;

}

.nightRegulations:hover {
    color: #e3cd93;
}

.icon {

    bottom: 10px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.gena {
    text-align: center;
    margin-top: 10px;
    height: 50px;
    min-width: 210px;
    color: black;
    background-color: #e3cd93;
    border-radius: 100px;
    margin-left: 140px;

}

.gena:hover {
    color: black;
    box-shadow: 5px 5px 5px #c7b68b;
}
.gena2{

    font-size: 30px;
    color: black;
}
.gena2:hover{
    color: black;
}
.dayNight {
    cursor: pointer;
    height: 50px;
    width: 50px;
    margin-top: 10px;
    margin-left: 50px;
    border-radius: 100px;
    border: 0;
}

.dayNight:hover {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
}


.logo{
    height: 70px;
    width: 70px;
}




