@import url('https://fonts.googleapis.com/css2?family=Julius+Sans+One&family=Poiret+One&family=Raleway:wght@200&display=swap');

.night {
    height: 100%;
    width: 100%;
    background-color: #1D1D1D;
    font-family: 'Raleway', sans-serif;
}

.day {
    background-color: white;
}

.menu {
    width: 100%;
    margin-top: 1%;
    background: transparent;
    font-size: 30px;
    padding: 20px;
    display: inline-flex;
}

.nightMain {

    color: white;
    padding: 10px;
    margin-left: 3%;
}

.dayMain {
    color: black;
}

.nightMain:hover {
    color: #e3cd93;
}

.nightServices {
    color: white;
    padding: 10px;
    margin-left: 30%;
}

.dayServices {
    color: black;
}

.nightServices:hover {
    color: #e3cd93;
}

.nightAbout {

    color: white;
    padding: 10px;
    width: 170px;
    margin-left: 6%;
}

.dayAbout {
    color: black;
}

.nightAbout:hover {
    color: #e3cd93;
}

.nightFAQ {
    color: white;
    padding: 10px;
    margin-left: 7%;
}

.dayFAQ {
    color: black;

}

.nightFAQ:hover {
    color: #e3cd93;
}

.icon {
    position: relative;
    top: -2px;
    margin-right: 5px;
    height: 30px;
    width: 30px;
}

.gena {
    height: 70px;
    width: 200px;
    color: black;
    padding: 10px;
    background-color: #e3cd93;
    border-radius: 100px;
    margin-left: 9%;
}

.gena:hover {
    color: black;
    box-shadow: 5px 5px 5px #c7b68b;
}

.dayNight {
    cursor: pointer;
    height: 70px;
    width: 70px;
    margin-left: 5%;
    border-radius: 100px;
    border: 0;
    background-color: #e3cd93;
}

.dayNight:hover {
    box-shadow: 5px 5px 5px #c7b68b;
}

.logo{
    height: 70px;
    width: 70px;
}




